---
---

@import "{{ site.theme }}";

.navbar {
    font-size: 150%;
}

.postSpacer {
    padding-top: 35px;
}

ul li {
    list-style: none;
}

a {
    color: #303030;
}

h1 h2 h3 h4 h5 h6 {
    color: #303030;
}

.hlist {
    list-style: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.clist {
    list-style: none;
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}