---
---

@import "{{ site.theme }}";

.navbar {
    font-size: 150%;
}

.postSpacer {
    padding-top: 35px;
}

ul li {
    list-style: none;
}

a {
    color: #303030;
}

h1 h2 h3 h4 h5 h6 {
    color: #303030;
}

.hlist {
    list-style: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.clist {
    list-style: none;
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}

.imageGrid {
    display: grid;
    grid-gap: 15px;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.selectable {
    transition: .5s ease-out;
    filter: brightness(100%);
}

.selectable:hover {
    filter: brightness(75%);
}

.text-block {
    position: absolute;
    bottom: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
}

.selectable:hover > .text-block {
    opacity: 1.0;
}
